<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>Controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyController</servlet-name>
        <servlet-class>Controller.Auth.VerifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>Controller.Auth.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTPController</servlet-name>
        <servlet-class>Controller.Auth.OTPController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>Controller.Auth.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailUtil</servlet-name>
        <servlet-class>Utils.EmailUtil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgot-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OTPController</servlet-name>
        <url-pattern>/otp-confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/reset-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailUtil</servlet-name>
        <url-pattern>/emailutil</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
